.title {
  font-style: italic;
  font-family: cursive;
}

body {
  background: lightpink;
}

div {
  background-color: lightblue;
  width: 1000px;
  border: 5px solid rgb(99, 99, 99);
  padding: 20px;
  margin: 0;
}

.warning {
  font-style: bold;
}
